<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			span 2
		</div><!-- .span2 -->
		<div class="span10">
			span 10
		</div><!-- .span10 -->
	</div><!-- .row-fluid -->
</div><!-- .container-fluid -->