<div class="hero-unit">
	<h1>Minecraft Overview</h1>
	<p>The Minecraft Overview application is a python, C, and now a rails application. This is a bit of a test to see the power that can come out of using these three things together. It also uses google maps in order to view the map. This tech is a bit hard to do right now and really does not have the scalable tech that I need. It also is going to have the ability to download the map from your Minecraft server along with any other information and use it show stats and information. However that peace is a bit down the road. for now this will do.</p>
	<%= link_to "View Map", maps_path, class: "btn btn-primary btn-large" %>
</div>